.account-settings {
  border-radius: 8px;

  .card-body {
    padding: 0 !important;
  }
  #uploadPersonalPhotoInputImgPreview {
    overflow: hidden;
  }
  textarea {
    resize: none;
  }
  .active {
    border-bottom: 2px solid #006298 !important;
  }
  .avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .separator {
    width: 15px;
    height: 3px;
    background-color: #2b304db3;
    margin: 0 10px;
  }
}
