.automation-settings {
  background-color: white;
  border-radius: 4px !important;

  .card-body {
    padding: 0 !important;
  }

  .empty-state {
    padding: 0 !important;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .table {
    button {
      border: unset;
    }
    .status-toogle {
      height: 18px;
      width: 40px;
      background-color: gray;
      border-radius: 20px;

      transition: all 0.2s ease-in-out;
      .circle {
        height: 18px;
        width: 18px;
        background-color: white;
        border-color: gray;
        transition: all 0.2s ease-in-out;
      }
    }
    .active {
      background-color: #006298;
      .circle {
        background-color: white;
        transform: translateX(22px);
      }
    }
    .table-item {
      background-color: #f1f2f3;
      th {
        align-items: center;
        position: relative;
      }
      .actions-btn {
        // transform: translateY(-5px);
        position: absolute;
        right: 20%;
        img {
          height: 20px;
        }
      }
      .actions-drop {
        position: absolute;
        bottom: -120%;
        right: 20%;
        background-color: white;
        border: 1px solid rgba(15, 79, 170, 0.08);
        box-sizing: border-box;
        box-shadow: 0px 0px 114px rgba(15, 79, 170, 0.2);
        border-radius: 5px;
        p {
          margin: 0;
          padding: 10px 35px;
          cursor: pointer;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}
