.authWrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.authWrapCol1 {
  background-image: url(../../../assets/imgF/authBackground.png);
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.authWrapCol1Container {
  text-align: center;
  padding-top: 130px;
  color: white;
}

.authWrapCol1Container h2 {
  font-size: 30px;
}

.authWrapCol1Container p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  margin-top: 22px;
}

.authWrapCol1Container .downloadAppAuthP img {
  width: 130px;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.authWrapCol2 {
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
  padding: 60px 20px 30px 40px;
}

.logoContainerAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logoContainerAuth img {
  width: 150px;
}

.authHeaderCol2 {
  padding-left: 30px;
  padding-top: 20px;
}

.authHeaderCol2 h2 {
  font-size: 28px;
  color: #212121;
}

.authHeaderCol2 p {
  font-size: 14px;
  color: #939393;
  padding-top: 6px;
}

.authForm {
  width: 100%;
  padding-left: 30px;
  margin-top: 50px;
}

.authForm .inputWrap {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.authForm .inputWrap input {
  width: 90%;
  border: none;
  background: #aaaaaa26 0% 0% no-repeat padding-box;
  border-radius: 5px;
  outline: none;
  position: relative;
  height: 45px;
  padding-left: 10px;
}

.passwordIcon {
  position: relative;
}

.passwordIcon img {
  position: absolute;
  right: calc(100% - 79%);
  top: -30px;
  width: 25px;
  cursor: pointer;
}

.forgotaassa {
  font-size: 13px;
  color: #212121;
  text-decoration: underline !important;
  text-align: right;
  width: 90%;
  /* margin-top: -24
px
; */
  position: relative;
  top: -33px;
}

.authActionBtn {
  width: 100%;
  margin-top: 20px;
}

.authActionBtn button {
  width: 90%;
  background: #0087ff;
  border-radius: 3px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.dontHavvAccAuth {
  text-align: center;
  margin-top: 40px;
}

.dontHavvAccAuth p {
  font-size: 13px;
  color: #212121;
}

.dontHavvAccAuth p a {
  text-decoration: underline !important;
  color: green !important;
}

@media (max-width: 810px) {
  .authWrapCol1Container h2 {
    font-size: 25px;
  }

  .authWrapCol1Container p br {
    display: none;
  }

  .authWrapCol1Container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .authWrapCol2 {
    padding-left: 10px;
  }

  .authForm .inputWrap input {
    width: 100%;
  }

  .passwordIcon img {
    position: absolute;
    right: 0;
    top: -30px;
    width: 25px;
    cursor: pointer;
  }

  .authActionBtn button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .authWrapCol1 {
    display: none !important;
  }

  .authWrapCol2 {
    width: 100%;
    padding-right: 30px;
    padding-top: 50px;
  }
  .authForm,
  .authHeaderCol2 {
    padding-left: 20px;
  }

  .logoContainerAuth img {
    position: relative;
    left: -6px;
  }
  .authHeaderCol2 h2 {
    font-size: 24px;
  }
}
