.tableHeader1 h2 {
  font-size: 30px;
  color: #00101d;
}

.tableHeader1 p {
  font-size: 15px;
  color: #59636b;
  margin-top: 7px;
}

.tableHeader2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.col1H2 {
  display: flex;
}

.col1H2 p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #00101d;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.col2H2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.col2H2 p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #00101d;
  font-size: 12px;
  cursor: pointer;
}

.col1H2 p:nth-of-type(1) {
  background-color: #0087ff;
  color: white;
}

.col2H2 select {
  background: #ffefd3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffaf21;
  font-size: 13px;
}

.ordersYTableWrap {
  background-color: #f5faff;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.ordersYTableWrap .styled-table tbody tr {
  background: #ffffff;
}

.ordersYTableWrap .styled-table tbody tr:hover {
  -webkit-filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  cursor: pointer;
  border-radius: 10px;
}

.tableControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tableControlsContrl {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffefd3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.tableControlsContrl p {
  margin: 0;
  padding: 0;
  color: #ffaf21;
}
.tabsdkshSt {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
