.editor-Container {
  .articleTitle {
    border: 1px solid #2d325038;
    border-radius: 5px;
    input {
      font-size: 16px !important;
      width: 100% !important;
      padding: 4px 10px !important;
    }
  }
  font-size: 16px !important;
  //   padding: 25px;
  //   background-color: #f6fafd;
  //   border-radius: 5px;
  //   height: 100%;

  .rdw-editor-wrapper {
    margin: 0 !important;
    min-height: 200px !important;
    max-height: 200px;

    background-color: white;
    p {
      margin: 0 !important;
    }
  }
  .DraftEditor-root {
    max-height: 100px;
  }
  .rdw-editor-main {
    padding-top: 20px;
    height: 255px;
  }
  .public-DraftStyleDefault-block {
    margin: 0 !important;
  }
  .public-DraftStyleDefault-ltr {
    padding: 2px 5px 2px 5px !important;
  }
}
