.tableHeader1 h2 {
  font-size: 30px;
  color: #00101d;
}

.tableHeader1 p {
  font-size: 15px;
  color: #59636b;
  margin-top: 7px;
}

.tableHeader2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.col1H2 {
  display: flex;
}

.col1H2 p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #00101d;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.col2H2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.col2H2 p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #00101d;
  font-size: 12px;
  cursor: pointer;
}

.col1H2 p:nth-of-type(1) {
  background-color: #0087ff;
  color: white;
}

.col2H2 select {
  background: #ffefd3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffaf21;
  font-size: 13px;
}

.ordersYTableWrap {
  background-color: #f5faff;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.ordersYTableWrap .styled-table tbody tr {
  background: #ffffff;
}

.ordersYTableWrap .styled-table tbody tr:hover {
  -webkit-filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  cursor: pointer;
  border-radius: 10px;
}

.tableControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tableControlsContrl {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffefd3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.tableControlsContrl p {
  margin: 0;
  padding: 0;
  color: #ffaf21;
}
.tabsdkshSt {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.viewUserModalWrap {
  width: 600px;
  height: auto;
  background-color: white;
  padding: 15px 20px 20px 20px;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.modalHeader img {
  width: 20px;
}

.modalHeader p {
  font-size: 19px;
  margin: 0;
  color: #00101d;
}

.viewUserModalInfod {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.viewUserModalInfodCol1 {
  height: 356px;
  background: #f5faff;
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.userImgwrapViwp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.userImgwrapViwp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.viewUserModalInfodCol1 p {
  margin: 0;
  margin-bottom: 6px;
  color: #59636b;
  font-size: 14px;
}

.viewUserModalInfodCol1Status {
  margin-top: 20px !important;
}

.viewUserModalInfodCol1Status span:nth-of-type(1) {
  color: #59636b;
  margin-right: 50px;
}

.viewUserModalInfodCol1Status span:nth-of-type(2) {
  color: #499f68;
}

.viewUserModalInfodCol1 button {
  color: #cc5148;
  background: #cc514826;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  font-size: 12px;
}

.viewUserModalInfodCol2 {
  width: 65%;
}

.userDetailsCol2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 17px 15px 17px 15px;
  background: #f5faff;
  border-radius: 5px;
  margin: 5px;
}
.userDetailsCol2 p {
  color: #00101d;
  margin: 0;
  font-size: 12px;
}

.userDetailsCol2 p:nth-of-type(1) {
  margin-right: 50px;
}

.userDetailsCol2lasdf img {
  width: 15px;
}

.userDetailsCol2lasdf span {
  margin-right: 10px;
  margin-left: 10px;
}

.userDetailsCol2lasdf a {
  font-size: 12px;
}
