.dashboard-main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:100%;
  .dashboardCo1{
    width: 70%;
    background-color:transparent;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content
  }
  .dashboardCo2{
    width: 28%;
    background: #F5FAFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 25px #8699BC26;
    border-radius: 10px;
    overflow-y: scroll;
    height: 100%;
  }

  .dashboardHeading {
    h2{font-size: 21px;}
    p{font-size: 13px;
    padding-top: 10px;
    }
  }

  .lastUpdatedDashbordCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    select{
      background: #FFEFD3 0% 0% ;
      border-radius: 5px;
      padding:10px;
      border: none;
      font-size: 12px;
      color: #FFAF21;
      width: 150px;
    }
    p{
      font-size:12px
    }
  }

  .dashboardCards{
    display: flex;
    justify-content: space-between;
    .dashboardCardsMain{
      background: #FFFFFF;
box-shadow: 0px 2px 25px #61696F1A;
border-radius: 5px;
width: 280px;
height:150px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
padding-top: 25px;
padding-bottom: 20px;
margin-top: 30px;


.dashboardCards .dashboardCardsMain:nth-of-type(3){
  margin-right: 0;
}

.dashboardCards .dashboardCardsMain:nth-of-type(2){
  margin-right: 0;
}


img{
  width: 20px;
  height: 18px;
  margin-right: 12px;
}
    }
  }

  .dashboardCards :nth-of-type(1){
    h2{
      color: #F28C33;
      font-size: 34px;
    }
    
    p{
      color: #F28C33;
    }
    }

    .dashboardCards :nth-of-type(2){
      h2{
        color: #499F68;
        font-size: 34px;
      }
      
      p{
        color: #499F68;
      }
      }

      .dashboardCards :nth-of-type(3){
        h2{
          color: #59636B;
          font-size: 34px;
        }

        h2 span{
          color: #499F68;
          font-size: 12px;
        }
        
        p{
          color: #59636B;
        }
        }

        .dashboardCo2{
          padding: 20px;
          padding-top: 25px;
          .dashboardCo2Header{
          display: flex;
          justify-content: space-between;
        }
        .dashboardCo2HeaderCol1{
          h2{
            font-size: 16px
          }

          p{
            font-size: 13px;
            margin-top: 12px;
            color: #59636B;
          }
        }

        .dashboardCo2HeaderCol2 {
          background: #FFEFD3 0% 0% no-repeat padding-box;
          border-radius: 5px;
          width:30px;
          height:30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .dashboardCo2HeaderCol2 img{
          width:70%
        }
        .notdatesjhdHeader{
          display: flex;
          // align-items: center;
          width: 100%;
          justify-content: center;
        }

        .notdatesjhdHeader{
        color: #59636B;
        font-size: 12px;
        margin-top: 7px;
        img{
          width:17px;
          margin-right: 5px;
       
        }
      }

      .notifcardDashboard{
      background-color: white;
      border-radius: 7px;
      height:-webkit-fit-content;
      height:-moz-fit-content;
      height:fit-content;
      padding:20px;
      margin-top: 20px;
      
      }
      .notifcardDashboardHeader{
        display: flex;
        justify-content: space-between;
        img{
         width: 17px;
         height: 17px;
        }

        p{
        font-size: 14px;
        color: #00101D;
         }
      }

      .dashboardnotTrack{
        display:flex;
        flex-direction: column;
        padding-top: 0;
        .dashboardnotTrackColLine{
          height:30px;
          width: 1px;
          background-color: #AFCCFF;
          opacity: 0.5px;
          margin-left: 6px;
          margin-bottom: 6px;
          margin-top: 6px;
        }

        .dashboardnotTrackCol{
          display:flex;
          
          img{
            width: 15px;
            height: 15px;
          }
          p{
            margin: 0;
            font-size:12px
          }
        }
      }

      .showAllSchdDashboard{
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top: 30px;
        margin-bottom: 40px;
        button{
          background: #FFAF21 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding:10px 30px 10px 30px;
        color: #FCFCFC;
        }
      }
      
        }
}


.styled-table {
  // border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0 14px;
}

.styled-table thead tr {
  color: #00101D;
  text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    margin-bottom: 20px;
    padding: 5px;
}


.styled-table tbody tr {
  background: #E5E5E526 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #00101D;
  font-size: 13px;
  padding: 10px;
  border: 5px solid white;
  padding: 40px;
  margin: 50px;
  height: 60px;
}

.userProfileImg{
  width: 40px; 
  height:40px;
  border-radius: 50%;
  margin-right: 10px;
}

// .styled-table tbody tr:nth-of-type(even) {
//   background-color: #f3f3f3;
// }

// .styled-table tbody tr:last-of-type {
//   border-bottom: 2px solid #009879;
// }


// .styled-table tbody tr.active-row {
//   font-weight: bold;
//   color: #009879;
// }


.viewAllOngoingVdendor{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 40px;
  button{
    background: #0087FF ;
    border-radius: 5px;
    padding:15px 20px 15px 20px;
    color: #FCFCFC;
    font-size: 13px;
  }
}

.dashboardHeadingnn h2{
  font-size: 17px;
}

.dashboardHeadingnn p{
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}