.tableHeader1 h2 {
  font-size: 30px;
  color: #00101d;
}

.tableHeader1 p {
  font-size: 15px;
  color: #59636b;
  margin-top: 7px;
}

.tableHeader2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.col1H2 {
  display: flex;
}

.col1H2 p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #00101d;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.col2H2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.col2H2 p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #00101d;
  font-size: 12px;
  cursor: pointer;
}

.col1H2 p:nth-of-type(1) {
  background-color: #0087ff;
  color: white;
}

.col2H2 select {
  background: #ffefd3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffaf21;
  font-size: 13px;
}

.ordersYTableWrap {
  background-color: #f5faff;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.ordersYTableWrap .styled-table tbody tr {
  background: #ffffff;
}

.ordersYTableWrap .styled-table tbody tr:hover {
  -webkit-filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  cursor: pointer;
  border-radius: 10px;
}

.tableControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tableControlsContrl {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffefd3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.tableControlsContrl p {
  margin: 0;
  padding: 0;
  color: #ffaf21;
}
.tabsdkshSt {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.order-details-modal {
  width: 1000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  overflow: hidden;
  /* width: 100%; */
  box-sizing: border-box;
}

.rder-details-modalMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rder-details-modalMain .order-details-modalCol1 {
  width: 30%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 20px;
}

.rder-details-modalMain .order-details-modalCol2 {
  width: 40%;
  height: 100%;
  background: #f5faff;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  overflow-y: scroll;
}

.rder-details-modalMain .order-details-modalCol3 {
  width: 30%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  overflow-y: scroll;
}

.orderStatus {
  display: flex;
  justify-content: space-between;
  background: #ffefd3;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  height: 90px;
}

.orderStatusCol1 p:nth-of-type(1) {
  margin-bottom: 20px;
  color: #00101d;
}

.orderStatusCol2 p:nth-of-type(1) {
  margin-bottom: 20px;
  color: #00101d;
}

.orderStatusCol1 p:nth-of-type(2) {
  color: #8c9399;
}

.orderStatusCol2 p:nth-of-type(2) {
  color: #8c9399;
}
.orderStatus p {
  margin: 0;
  padding: 0;
}
.senderInfomdwe {
  background-color: #e5e5e526;
  padding-top: 20px;
  margin-top: 10px;
}

.senderInfomdwe h2 {
  font-size: 13px;
  color: #00101d;
  padding-bottom: 15px;
  margin-top: 20px !important;
}

.senderInfoDetailsdf {
  display: flex;
  align-items: center;
}

.senderInfoDetailsdf p {
  margin: 0;
  margin-left: 10px;
  font-size: 13px;
  color: #00101d;
}

.senderInfoDetailsdf p:nth-of-type(1) {
  margin-bottom: 4px;
}

.senderInfoDetailsdf .senderInfoDetailsdfImg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.order-details-modalCol2Header {
  display: flex;
  justify-content: space-between;
}

.order-details-modalCol2Header p:nth-of-type(2) {
  font-size: 15px;
  font-weight: 600;
  color: #00101d;
}

.order-details-modalCol2Header p:nth-of-type(3) {
  font-size: 13px;
  color: #00101d;
}

.listcol2jduedqd {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.listcol2jduedqdCol1 p:nth-of-type(1) {
  color: #59636b;
  margin-bottom: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.listcol2jduedqdCol1 p:nth-of-type(2) {
  color: #00101d;
  margin-bottom: 0;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
}

.listcol2jduedqdCol2 p:nth-of-type(1) {
  color: #59636b;
  margin-bottom: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.listcol2jduedqdCol2 p:nth-of-type(2) {
  color: #00101d;
  margin-bottom: 0;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
}

.listcol2jduedqdCol1 img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 7px;
}

.riderInfoModal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.riderInfoModal p {
  margin: 0;
  text-align: center;
  margin-bottom: 6px;
}

.riderInfoModaImgP {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.riderInfoModaImgPHeader {
  font-size: 16px;
  padding-bottom: 10px;
  color: #00101d;
}

.riderpriceModal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1.2px solid #707070;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.riderpriceModal p {
  margin: 0;
  font-size: 13px;
}

.ordertracajdlHeader p {
  margin: 0;
  margin-bottom: 3px;
  margin-top: 10px;
  color: #59636b;
  font-size: 13px;
}

.ordertracajdl {
  background: #ffefd3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.dashboardnotTrackMai {
  display: flex;
}

.dashboardnotTrackMai img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.dashboardnotTrackMai p {
  font-size: 12px;
  margin: 0;
}

.dashboardnsswotTrackColLine {
  height: 30px;
  width: 1px;
  background-color: #afccff;
  opacity: 0.5px;
  margin-left: 6px;
  margin-bottom: 6px;
  margin-top: 0px;
}

.assign-rider__modal-wrapper {
  width: 30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem;
}

.assign-rider__modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7em;
}

.assign-rider__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.2rem;
}

.assign-rider__heading {
  font-size: 1.2rem;
  color: #00101d;
}

.assign-rider__text {
  margin-bottom: 0;
  color: #00101d;
  font-weight: bold;
}

.assign-rider__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease-out;
}
.assign-rider__icon > * {
  width: 100%;
  height: 100%;
}

.assign-rider__icon--cancel {
  margin-left: auto;
}

.assign-rider__icon--back {
  margin-right: 1rem;
  background-color: #ffefd3;
  border-radius: 5px;
  padding: 0.4rem;
}
/* .assign-rider__icon--back:hover,
.assign-rider__icon--back:active {
  background-color: #ffaf21;
  mix-blend-mode: multiply;
} */

.assign-rider__select {
  margin-bottom: 4rem;
}

.assign-rider__select > *:active,
.assign-rider__select > *:focus {
  outline: none;
}

.assign-rider__cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.assign-rider__icon--cancel {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
