.app-btn{
    background-color: #ffaf21;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding:13px 40px 13px 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    button{
        border: none;
        background-color: #ffaf21;
        margin-left: 7px;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 500;
        background-color: transparent;
    }

}