.new-automation-policy {
  a {
    color: unset;
  }
  textarea {
    resize: none;
  }
  .ticket-category {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .cat-tag {
      border-radius: 5px;
      height: 70%;
      background-color: #eef8ff;
      padding: 5px;
      margin: 5px;
      padding-left: 10px;
      padding-right: 25px;
      font-size: 12px;
      position: relative;
      width: fit-content;
      p {
        margin: 0;
      }
      span {
        position: absolute;
        top: -1px;
        right: 0;
        height: 100%;
        // background-color: red;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        cursor: pointer;
        color: #006298;
      }
    }
    .drop-list {
      border: 1px solid rgba(0, 98, 152, 0.1);
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0px 0px 24px rgba(0, 98, 152, 0.1);
      border-radius: 10px;
      height: 160px;
      z-index: 10;
      overflow-y: scroll;
      p {
        padding: 10px;
        cursor: pointer;
        margin: 0;
        &:hover {
          background-color: #e8e8e8;
        }
      }
    }
  }
  .available-placeholders {
    display: flex;
    flex-wrap: wrap;
    p {
      border: 1px solid #006298;
      color: #006298;
      margin: 0;
      padding: 5px 25px;
      border-radius: 5px;
      margin-top: 5px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #006298;
        color: white;
      }
    }
    .selected {
      background-color: #006298;
      color: white;
      &::after {
        height: 0;
        width: 0;
      }
    }
  }
  .automation-action {
    border-top: 1px solid #ced4da !important;
    &:first-child {
      border: none !important;
    }
  }
  .number-input {
    width: 100px!important;
    text-align: center;
  }
}
