.tableHeader1 h2 {
  font-size: 30px;
  color: #00101d;
}

.tableHeader1 p {
  font-size: 15px;
  color: #59636b;
  margin-top: 7px;
}

.tableHeader2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}

.col1H2 {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.col1H2 p {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #00101d;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.col2H2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.col2H2 p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #00101d;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.col2H2 select {
  background: #ffefd3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffaf21;
  font-size: 13px;
}

.ordersYTableWrap {
  background-color: #f5faff;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.ordersYTableWrap .styled-table tbody tr {
  background: #ffffff;
}

.ordersYTableWrap .styled-table tbody tr:hover {
  -webkit-filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  filter: drop-shadow(10px 5px 10px rgba(128, 128, 128, 0.205));
  cursor: pointer;
  border-radius: 10px;
}

.tableControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tableControlsContrl {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffefd3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.tableControlsContrl p {
  margin: 0;
  padding: 0;
  color: #ffaf21;
}
.tabsdkshSt {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.createNewRyderBtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.createNewRyderBtn button {
  background: #0087ff;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
}

.createRiderModal {
  background-color: white;
  width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.riderModalContainer {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
  padding-top: 35px;
}

.col1Rider {
  height: 100%;
  width: 30%;
  background: #f5faff;
}

.col1Rider h2 {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.col1Rider ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.col1Rider ul li::before {
  content: "";
  height: 70px;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.267);
  display: block;
  position: relative;
  top: 65px;
  left: 20px;
}

.col1Rider ul .activeBTab::before {
  content: "";
  height: 70px;
  width: 1px;
  background-color: orange;
  display: block;
  position: relative;
  top: 65px;
  left: 20px;
}

.col1Rider ul li:nth-of-type(4) {
  margin-top: 80px;
}

.col1Rider ul li:nth-of-type(3)::before {
  display: none;
}

.col1RiderBike ul li:nth-of-type(2)::before {
  display: none;
}

.col1Rider ul .activeBTab:nth-of-type(4)::before {
  display: none;
}

.tabPositionRider {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.267);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabPositionRider img {
  width: 50%;
  height: 50%;
}
.col2Rider {
  height: 100%;
  width: 70%;
  padding: 0 20px 20px 20px;
}

.addprofileRiderWrap {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 0.5px solid #a3d4ff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
}
.addprofileRiderWrap p {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  color: #00101d;
  font-size: 14px;
}
.profileImageRiderWrap {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profileImageRiderWrap .profileImageRiderWrapAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #aaaaaa26;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageRiderWrapAvatar img {
  width: 30px;
  height: 30px;
}

.penEditRider {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 12px;
  bottom: -2px;
  cursor: pointer;
}
.inputWrapRider {
  margin-top: 15px;
}
.riderInputWrapMain {
  width: 100%;
  margin-bottom: 10px;
}

.getRiderGender p {
  margin-bottom: 7px;
  color: #00101d;
  margin-bottom: 3px;
  font-size: 13px;
}

.getRiderGender label {
  margin-right: 15px;
  margin-top: 7px;
}

.getRiderGender label span {
  margin-left: 7px;
  font-size: 15px;
}

.getRiderGender label input {
  width: 16px;
  height: 16px;
}

.subRiderBtnWrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 40px;
}

.subRiderBtnWrap div {
  margin-right: 10px;
}
.subRiderBtnWrap div:last-child {
  margin-right: 0;
}

.bike-tracker-modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1.5rem;
}

.bike-tracker__bike {
  grid-column: 1 / span 1;
}

.bike-tracker__bike > * + * {
  margin-top: var(--flow-content, 2rem);
}
.bike-tracker__heading {
  font-size: 1.2rem;
  color: #00101d;
}
.bike-tracker__rider {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.8em;
  border-radius: 5px;
  background-color: #aaaaaa26;
}

.bike-tracker__rider-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bike-tracker__rider-info {
  display: flex;
  flex-direction: column;
}

.bike-tracker__rider-info p {
  margin-bottom: 0.3em;
}

.bike-tracker__location {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.bike-tracker__location-header {
  display: flex;
  gap: 0.5em;
}
.bike-tracker__location-icon {
  width: 1rem;
  height: 1rem;
}
.bike-tracker__location-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bike-tracker__location-details {
  margin-left: 1.5rem;
  color: #00101d;
  font-weight: bold;
}

.bike-tracker__map {
  grid-column: 2 / span -1;
}

@media (max-width: 907px) {
  .col2H2 {
    margin-top: 20px;
  }
  .ordersYTableWrap {
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  .createRiderModal {
    width: 90vw;
  }
}

@media (max-width: 596px) {
  .col1RiderBike {
    display: none;
  }

  .col2Rider {
    width: 100%;
  }
}
