/* @import url("https://fonts.googleapis.com/css2?family=Arimo&family=Cabin&display=swap");
@font-face {
  font-family: Cabin;
  src: url("./assets//fonts/Cabin-Regular.ttf");
} */

/* text-anchor: middle;
        user-select: none; */
:root {
  --at-red: #ff4d35;
  /* rgb(255 77 53) */
  --at-green: #51b74f;
  /* rgb(81 183 79) */
  --at-blue: #103e65;
  /* rgb(16 62 101) */
  --at-yellow: #eeb64a;
  /* rgb(238 182 74) */
  --at-blue-light: #006298;
  --at-blue-lighter: rgba(206, 225, 255, 50%);
  --at-purple: #6c4181;

  --sidebar-width: 60px;
  --text-color: rgba(43, 48, 77, 70%);
  /* 70% of base #2B304D (rgb(43 48 77)) */
  --at-blue-10: rgba(43, 48, 77, 10%);
  /* 10% of base #2B304D (rgb(43 48 77)) */

  --acx--red-6: rgba(255, 77, 53, 6%);
  --acx--green-6: rgba(81, 183, 79, 6%);
  --acx--blue-6: rgba(16, 62, 101, 6%);
  --acx--yellow-6: rgba(238, 182, 74, 6%);
  --acx--purple-6: rgba(108, 65, 129, 6%);
}

html {
  height: 100% !important;
}

body {
  background-color: #f0f0f2 !important;
  font-family: Cabin, Lato !important;
  line-height: 1.4;
  font-size: 0.9rem !important;
  min-height: 100% !important;
}

a {
  text-decoration: none !important;
}
input:disabled {
  cursor: not-allowed !important;
}

.btn,
body,
table {
  color: var(--text-color) !important;
}
button:disabled {
  opacity: 0.5;
}

.reset-btn-outline:hover {
  background-color: transparent !important;
  box-shadow: 0 0 1px 4px rgba(0, 98, 152, 0.1);
}

.bg-at-red {
  background-color: var(--at-red) !important;
}

.bg-at-red,
.bg-at-red a {
  color: #fff !important;
}

.text-at-red {
  color: var(--at-red) !important;
}

.bg-at-blue {
  background-color: var(--at-blue) !important;
}

.bg-at-blue,
.bg-at-blue a {
  color: #fff !important;
}

.text-at-blue {
  color: var(--at-blue) !important;
}

.bg-at-green {
  background-color: var(--at-green) !important;
}

.bg-at-green,
.bg-at-green a {
  color: #fff !important;
}

.text-at-green {
  color: var(--at-green) !important;
}

.bg-at-yellow {
  background-color: var(--at-yellow) !important;
}

.bg-at-yellow,
.bg-at-yellow a {
  color: #fff !important;
}

.text-at-yellow {
  color: var(--at-yellow) !important;
}

.bg-at-blue-light {
  background-color: var(--at-blue-light) !important;
}

.bg-at-blue-light,
.bg-at-blue-light a {
  color: #fff !important;
}

.bg-at-blue-lighter {
  background-color: var(--at-blue-lighter);
}

.text-at-blue-light {
  color: var(--at-blue-light) !important;
}

.acx-text-red {
  color: var(--at-red) !important;
}

.acx-text-green {
  color: var(--at-green) !important;
}

.acx-text-blue {
  color: var(--at-green) !important;
}

.acx-text-yellow {
  color: var(--at-yellow) !important;
}

/* background with opacity and border, plus text color */
.acx-bg-red-30 {
  background-color: rgba(255, 77, 53, 6%) !important;
  color: var(--at-red) !important;
  border-color: rgba(255, 77, 53, 30%) !important;
}

.acx-bg-green-30 {
  background-color: rgba(81, 183, 79, 6%) !important;
  color: var(--at-green) !important;
  border-color: rgba(81, 183, 79, 30%) !important;
}

.acx-bg-blue-30 {
  background-color: rgba(16, 62, 101, 6%) !important;
  color: var(--at-blue) !important;
  border-color: rgba(16, 62, 101, 30%) !important;
}

.acx-bg-yellow-30 {
  background-color: rgba(238, 182, 74, 6%) !important;
  color: var(--at-yellow) !important;
  border-color: rgba(238, 182, 74, 30%) !important;
}

.acx-bg-purple-30 {
  background: rgba(102, 45, 145, 6%) !important;
  color: var(--at-purple) !important;
  border-color: rgba(102, 45, 145, 60%) !important;
}

.acx-bg-blue-light-30 {
  background: rgba(0, 98, 152, 6%) !important;
  color: var(--at-blue-light) !important;
  border-color: rgba(0, 98, 152, 30%) !important;
}

.acx-bg-blue-light-30-bg-25 {
  background: rgba(0, 98, 152, 25%) !important;
  color: var(--at-blue-light) !important;
  border-color: rgba(0, 98, 152, 30%) !important;
}

#sidebarMenu {
  width: var(--sidebar-width) !important;
}

.wide-modal {
  width: 45% !important;
  min-width: 500px !important;
  max-width: 600px !important;
}

.dropdown-toggle.no-caret::after {
  content: none !important;
  display: none !important;
}

#sidebarMenu .nav-item a.nav-link {
  /* background-color: #1C62A7; */
}
#sidebarMenu .nav-item a.nav-link:hover {
  background-color: #1c62a7;
}

/* button object  */
a > object,
button > object {
  pointer-events: none !important;
}

button {
  border: none !important;
  background-color: unset;
}

a object.sm-align,
button object.sm-align,
object.sm-align {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-bottom: 2px;
}

object.icon-sm {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-bottom: 1px;
}

object.icon-md {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
}

object.icon-lg {
  width: 6rem;
}

.table tr td,
.table tr th {
  padding: 1rem 0.5rem;
}

/* increase table's left padding */
.table tbody tr td:nth-child(1) {
  /* padding-left: 1.5rem; */
  text-align: center;
}

/* .table > thead > tr > th { */
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #f0f0f2;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.8rem;
}

.dropdown-menu {
  font-size: inherit;
  min-width: inherit;
  border: none;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: solid 2px #ccc;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  border: solid 1px #fff;
  border-radius: 50%;
}

/* to add magnifying glass to search field */
.magnifying-glass {
  /* background-image: url('/assets/alphatickets/icons/search.svg'); */
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 1rem 50%;
  padding-left: 2.5rem !important;
}

/* --------------- redefine bootstrap ------------- */
.page-item .page-link {
  color: var(--at-blue-light) !important;
}

.page-item.active .page-link {
  background-color: var(--at-blue-light) !important;
  border-color: var(--at-blue-light) !important;
  color: white !important;
}

/* ------------ ---------------- UTILITIES CLASSES -------------- --------------- */

.acx-box-10 {
  width: 10px !important;
  height: 10px !important;
  line-height: normal !important;
}

.acx-box-12 {
  width: 12px !important;
  height: 12px !important;
  line-height: normal !important;
}

.acx-box-14 {
  width: 14px !important;
  height: 14px !important;
  line-height: normal !important;
}

.acx-box-16 {
  width: 16px !important;
  height: 16px !important;
  line-height: normal !important;
}

.acx-box-18 {
  width: 18px !important;
  height: 18px !important;
  line-height: normal !important;
}

.acx-box-20 {
  width: 20px !important;
  height: 20px !important;
  line-height: normal !important;
}

.w-third {
  width: 33% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.f-basis-30 {
  flex-basis: 30%;
}

/* tiny font sizes to bs fs-6 -> fs-1 */
.acx-fs-6 {
  font-size: 0.6rem !important;
}

.acx-fs-8 {
  font-size: 0.8rem !important;
}

.rounded-top-big {
  border-top-left-radius: 0.8rem !important;
  border-top-right-radius: 0.8rem !important;
}

.rounded-bottom-big {
  border-bottom-left-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
}

.rounded-top-04 {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.rounded-bottom-04 {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.at-radio-red {
  box-shadow: 0 0 0 1px var(--at-red) !important;
}

.at-radio-green {
  box-shadow: 0 0 0 1px var(--at-green) !important;
}

.acx-ring {
  /* outline around form fields and others. Requires .border, uses text color */
  box-shadow: 0 0 0 1px !important;
  border-color: #fff !important;
}

/* --------------  file input and drag n drop styling -------------- */
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  border-radius: 4px;
  color: blue;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  border: dashed #ced4da 1px;
  text-align: center;
}
[type="file"]:focus + label {
  border: solid #86b7fe 1px;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

label.file-picker object {
  width: 12px;
  margin-top: 2px;
}

label.file-picker object.lg-icon {
  width: 24px;
}

[for="file-picker"] {
  background-color: rgb(0 98 152 / 4%) !important;
}

/* ------------ ----------- -------------- */

/* opacity utility classes */
.op-1 {
  opacity: 0.1 !important;
}

.op-2 {
  opacity: 0.2 !important;
}

.op-3 {
  opacity: 0.3 !important;
}

.op-4 {
  opacity: 0.4 !important;
}

.op-5 {
  opacity: 0.5 !important;
}

.op-6 {
  opacity: 0.6 !important;
}

.op-7 {
  opacity: 0.7 !important;
}

.op-8 {
  opacity: 0.8 !important;
}

.op-9 {
  opacity: 0.9 !important;
}

.op-10 {
  opacity: 1 !important;
}

/* z-index (0 - 10) utitility classes*/
.zindex-0 {
  z-index: 0 !important;
}

.zindex-1 {
  z-index: 1 !important;
}

.zindex-2 {
  z-index: 2 !important;
}

.zindex-3 {
  z-index: 3 !important;
}

.zindex-4 {
  z-index: 4 !important;
}

.zindex-5 {
  z-index: 5 !important;
}

.zindex-6 {
  z-index: 6 !important;
}

.zindex-7 {
  z-index: 7 !important;
}

.zindex-8 {
  z-index: 8 !important;
}

.zindex-9 {
  z-index: 9 !important;
}

.zindex-10 {
  z-index: 1 !important;
}

/* * ------- CUSTOMER AVATAR ---------- */
.customer-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.customer-avatar img {
  width: 100%;
  border: solid 1px #fff;
  border-radius: 50%;
}

/*  -------- USER NAME INITIALS -----------   */

.user-initials {
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.user-initials-sm .user-initials {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.user-initials-lg .user-initials {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 2rem;
}

.user-initials.red {
  background-color: var(--at-red);
}

.user-initials.green {
  background-color: var(--at-green);
}

.user-initials.blue {
  background-color: var(--at-blue);
}

.user-initials.yellow {
  background-color: var(--at-yellow);
}

.user-initials.purple {
  background-color: var(--at-purple);
}

/* * Size Utility classes */
.max-w-700 {
  max-width: 700px !important;
}

/* * Font Size Utility classes  */
.f-16 {
  font-size: 16px !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-8 {
  font-size: 8px !important;
}

.fw-500 {
  font-weight: 500;
}

.height-off-header {
  height: calc(100vh - 75px) !important;
}

.text-custom {
  color: #006298 !important;
}

.bg-custom {
  background-color: #006298;
  color: #fff !important;
}

.assign .form-control {
  width: 188px;
}

.close {
  cursor: pointer;
}

.ticket-bg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.bg-assign {
  background-color: #f1f6f9;
}

.bg-overdue {
  background-color: #fef7f8;
}

.text-overdue {
  color: #fd7289 !important;
}

.tk-wt {
  font-size: 26px;
  font-weight: bold;
}

.tk-text {
  font-size: 18px;
  margin-bottom: -5px;
}

.text-resolve {
  color: #6c4181 !important;
}

.bg-resolve {
  background-color: #f2f7fa !important;
}

.black-text {
  color: #000000;
}

/* ** FROM STYLE.CSS */

/* * placeholder sytling */
::-webkit-input-placeholder {
  margin-left: -500px;
}

::-moz-placeholder {
  margin-left: -500px;
}

:-ms-input-placeholder {
  margin-left: -500px;
}

::-ms-input-placeholder {
  margin-left: -500px;
}

::placeholder {
  margin-left: -500px;
}

/** end of placeholder styling */

/** << These BS styles are not overriding and main BS classes styling*/

.form-check-label,
.form-label {
  font-size: 0.9rem;
}

/** >> */

/** << These styles are overiding default DOM element styles */
a {
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

a object {
  position: relative;
  z-index: -1;
}

/** >> */
/** << These styles are overiding main BS classes stlying */
.text-black {
  color: rgba(0, 0, 0, 0.78);
}

.up {
  z-index: 1;
}

.down {
  z-index: -1;
}

.cursor {
  cursor: pointer;
}

.mh {
  margin-left: 25px;
}

/** >> */
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
}

/* 
* TICKET MODULE CSS
*/
/* ticket module */

.ticket-state .btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
}

.ticket-state.red .btn {
  border: solid 1px rgb(255 77 53 / 30%);
  background-color: rgb(255 77 53 / 6%);
  color: var(--at-red) !important;
}
.ticket-state.green .btn {
  border: solid 1px rgb(81 183 79 / 30%);
  background-color: rgb(81 183 79 / 6%);
  color: #51b74f !important;
}
.ticket-state.orange .btn {
  border: solid 1px rgb(238 182 74 / 30%);
  background-color: rgb(238 182 74 / 6%);
  color: #eeb64a !important;
}

.ticket-state.awaiting .btn {
  border: solid 1px rgb(108 65 129 / 30%);
  background-color: rgb(108 65 129 / 6%);
  color: rgba(108, 65, 129) !important;
}

.ticket-state.yellow .btn {
  border: solid 1px rgb(56 150 136 / 30%);
  background-color: rgb(56 150 136 / 6%);
  color: rgb(56, 150, 136) !important;
}

.ticket-priority button span::before,
.ticket-status button span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2.5px;
  margin-right: 3px;
}

.ticket-priority.red button span::before,
.ticket-status.red button span::before {
  background-color: #ff4d35;
}

.ticket-priority.green button span::before,
.ticket-status.green button span::before {
  background-color: #51b74f;
}

.ticket-priority.blue button span::before,
.ticket-status.blue button span::before {
  background-color: #0074b3;
}

.ticket-priority.yellow button span::before,
.ticket-status.yellow button span::before {
  background-color: #eeb64a;
}

/* * Setting CSS */

/*
* ACCOUNT SETTINGS PAGE STYLES */
.nav-pills .nav-link {
  opacity: 0.7;
}

.nav-pills .nav-link.active {
  color: var(--at-blue-light) !important;
  background-color: transparent;
  opacity: 1;
  border-bottom: 3px solid var(--at-blue-light);
  border-radius: 0;
}

.time-form-control {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.cpbWrapper div {
  z-index: 2;
  position: relative;
}

.cpbWrapper {
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
  display: inline-block;
}

.cpbWrapper::before {
  content: "";
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.storageUsedMeter .cpbWrapper::before {
  background: var(--at-blue-light);
}

.userMeter .cpbWrapper::before {
  background: #fcd525;
}

.customerMeter .cpbWrapper::before {
  background: #fd7289;
}

.color-theme-box {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.color-pattern-box {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  font-size: 9px;
}

.selected::after {
  content: "";
  width: 13px;
  height: 13px;
  background: var(--at-blue-light);
  position: absolute;
  top: -5px;
  right: -5px;
  border: 2px solid white;
  border-radius: 100%;
}

.uploadInfoWrapper {
  max-width: 300px;
}

#colorThemeInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: red;
  padding: 0;
  overflow: hidden;
}

#colorThemeInput::-webkit-color-swatch,
#colorThemeInput::-webkit-color-swatch-wrapper,
#colorThemeInput::-moz-color-swatch-wrapper {
  margin: 0;
  border: 0;
}

/* 
* FIELDS PAGE 
*/

.status-input:checked {
  background-color: var(--at-green) !important;
  border: none;
}

.bg-sky-blue {
  background: rgba(232, 241, 246, 0.7);
}

.border-sky-blue {
  border: 1px solid rgba(0, 98, 152, 0.1);
}

.no-focus:focus {
  outline: none;
  box-shadow: none;
}

.move-cursor {
  cursor: move !important;
}

.fieldsWrapper {
  border-top: 1px solid rgba(0, 98, 152, 0.1);
}

.fieldParent {
  border-bottom: 1px solid rgba(0, 98, 152, 0.1);
}

/* * FORM CATEGORY PAGE */
.no-focus:focus {
  outline: none;
  box-shadow: none;
}

.optionInputParent,
.optionsWrapper,
#addFieldModal {
  transition: all 0.5s ease !important;
}

/* * FORM PREVIEW */

.blue-circle {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  top: -20px;
  left: 20px;
}

.rounded-4 {
  border-radius: 10px;
}

.logo {
  transform: scale(0.9);
}

@media screen and (max-width: 480px) {
  .header {
    height: 190px !important;
    position: absolute;
    top: 0;
  }

  .preview-wrapper {
    padding-top: 40px;
  }

  .blue-circle {
    display: none;
  }

  .card-one {
    padding-top: 30px !important;
  }
}

/* * INTEGRATION SETTINGS */
.btn-w-100 {
  width: 100px;
}

/* 
* GENERAL SETTINGS */
/* #ticket-closes-wrapper {
  position: relative;
}

#ticket-closes-wrapper::after {
  content: attr(data-side-text) "";
  position: absolute;
  top: 8px;
  right: -120px;
} */

.cursor-pointer {
  cursor: pointer;
}

.prefixBtnClicked {
  background-color: #80d2ff !important;
  font-weight: 600 !important;
}

/* * BRANDING (ACCOUNT SETTINGS) */
.branding-btn-width {
  width: 130px;
}

/* *EMAIL TEMPLATE */
.available-placeholder {
  width: 80px !important;
}

.ck-editor__editable {
  min-height: 6rem !important;
}

.w-150 {
  width: 150px !important;
}

/** >>> From former styles.css*/
.bg-outline-custom {
  background-color: transparent;
  color: #006298;
  border: 1px solid #006298;
}

/* Resolution Target */

.resolution-form .form-control,
.customer-form-first .form-control {
  width: 78px;
}

.customer-form-second .form-control {
  width: 70;
}

.customer-choice a {
  font-size: 0.7rem;
}

.btn-custom {
  background-color: #006298;
  color: #fff !important;
}

.bg-custom-gray {
  background-color: #f9f9fb;
  color: #696c81 !important;
}

.btn-outline-gray {
  color: transparent;
  border: 1px solid #696c81;
}

.text-custom-gray {
  color: #696c81 !important;
}

.empty-state {
  padding: 8rem !important;
}

.empty-state object {
  display: inline-block;
  width: 110px !important;
  height: auto;
}

.bg-custom-success {
  color: #51b74f;
  background-color: #edf5f5;
}

.description-text {
  color: #3c3c3c !important;
  font-size: 0.9rem;
}

.save-btn {
  display: block;
  float: right;
  width: 100%;
}

.bg-outline-mail {
  background-color: transparent;
  border: 1px solid #c0c2cb;
}

.vertical-line {
  width: 2px;
  height: 150px;
  background-color: #c0c2cb;
}

.bg-role,
.bg-dashboard {
  background-color: #f6f7f9;
  color: #b5b5b5;
}

.bg-role p {
  font-size: 0.85rem;
}

.role-form .form-check-label {
  color: #808080 !important;
  font-size: 0.9rem;
}

.alert-custom {
  background-color: rgba(0, 98, 152, 0.07);
  display: inline-block;
  color: #006298;
  height: 50px;
}

#create {
  margin-left: 72%;
}

.add-btn {
  width: 15px !important;
  margin-bottom: -2px;
}

.border-top-right {
  border-radius: 8px 0px 0px 0px !important;
}

.border-top-left {
  border-radius: 0px 8px 0px 0px !important;
}

.border-top-left-right {
  border-radius: 8px 8px 0px 0px !important;
}

.resolution-icon {
  width: 15px;
  margin-top: -20px !important;
}

.edit-shadow {
  box-shadow: 0px 0px 114px rgba(15, 79, 170, 0.2);
}

.sla-bar {
  padding-right: 20rem !important;
}

.mail-active {
  background-color: transparent;
  color: #006298;
  border: 1px solid #006298;
}

.bg-form-tab {
  background: #e8f1f6;
}

.form-svg {
  margin-bottom: -5px;
  width: 18px !important;
}

.border-form {
  background: #ffffff;
  border: 1px solid rgba(0, 98, 152, 0.1);
  box-shadow: 0px 0px 9px rgba(13, 13, 13, 0.06);
  border-radius: 5px;
}

.select-wrapper {
  position: relative;
}

.select-all-ctrl {
  position: absolute;
  z-index: 9999 !important;
  background-color: transparent;
  top: -1px;
  left: 0;
  height: 85%;
  width: 78%;
  border: none;
}

.select-all-ctrl:checked {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

.select-all-ctrl:checked[type="checkbox"] {
  background-image: none;
}
/** >>> End | From from styles.css*/

.whitespace-nowrap {
  white-space: nowrap;
}
